/**
 * General - https://wordpress.org/documentation/article/css/
 */

.page-content,
.comments-area {
	a {
		text-decoration: underline;
	}
}

.alignright {
	float: right;
	margin-left: 1rem;
}

.alignleft {
	float: left;
	margin-right: 1rem;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

//Gutenberg support
.alignwide {
	// margin-left: -80px;
	// margin-right: -80px;
}

//Gutenberg support
.alignfull {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;

	img {
		width: 100vw;
	}
}

.wp-caption {
	margin-block-end: 1.25rem;
	max-width: 100%;

	&.alignleft {
		margin: 5px 20px 20px 0;
	}

	&.alignright {
		margin: 5px 0 20px 20px;
	}

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.wp-caption-text {
	margin: 0;
}

.gallery-caption {
	display: block;
	font-size: $sm-font-size;
	line-height: $line-height-base;
	margin: 0;
	padding: $xs-padding;
}

.pagination {
	display: flex;
	justify-content: space-between;
	margin: 20px auto;
}

.sticky {
	position: relative;
	display: block;
}

.bypostauthor {
	font-size: inherit;
}

.hide {
	display: none !important;
}

.post-password-form p {
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.post-password-form [type="submit"] {
	margin-inline-start: 3px;
}

.product-list {
	// background-color: red;

	.product-items {
		// flex-wrap: wrap !important;
		display: block !important;

		.product-img {
			margin: 0 auto;
		}
	}
}

.faq-box {
	transition: all ease-in-out 0.2s;

	&:hover {
		transform: scale(1.1) rotate(3deg);

		.elementor-heading-title,
		.elementor-widget-container {
			color: black !important;
			text-align: center;
		}
	}

	.elementor-heading-title,
	.elementor-widget-container {
		text-align: center;
		transition: all ease-in-out 0.2s;
	}
}

// .faq-box {
// 	padding: 30px;
// 	background: rgba(0, 0, 0, 0.8);
// 	border: 4px solid #ffce00;
// 	margin: 20px;
// 	border-radius: 10px;
// 	transition: all 0.3s ease-in-out;
// }

// .faq-box:hover {
// 	background: #ffce00;
// 	border-color: black;

// 	.elementor-heading-title,
// 	.elementor-widget-container {
// 		color: black !important;
// 	}
// }

// .faq-box1 {
// 	transform: perspective(150px) rotateX(-5deg) rotateY(1deg) rotateZ(2deg);
// }

// .faq-box2 {
// 	transform: perspective(165px) rotateX(1deg) rotateY(-2deg) rotateZ(3deg);
// }

// .faq-box3 {
// 	transform: perspective(145px) rotateX(3deg) rotateY(2deg) rotateZ(1deg);
// }

.the-rocket {
	right: 40px !important;
}

html {
	scroll-behavior: smooth;
}
